.mejikuhibiniu {
}

.merah {
    margin-top: 3%;
    background-color: red;
}
.jingga {
    background-color: orange;
}
.kuning {
    background-color: yellow;
}
.hijau {
    background-color: green;
}
.biru {
    background-color: blue;
}
.nila {
    background-color: indigo;
}
.ungu{
    background-color: purple;
}

